<dl class="dl-horizontal">
<!-- 
  <dt>ID</dt>
  <dd>{{!model.layerId}}</dd>
-->
  <dt>Label</dt>
  <dd>{{label}}</dd>
  <dt>Base URL</dt>
  <dd>{{baseURL}}</dd>
  <dt>WMS name</dt>
  <dd>{{wmsName}}</dd>
  <dt>Image format</dt>
  <dd>{{imageFormat}}</dd>
  <dt>Visible</dt>
  <dd>{{visible}}</dd>
  <dt>Legend</dt>
  <dd>{{legend}}</dd>
  <dt>Source link</dt>
  <dd>{{sourceLink}}</dd>
  <dt>Source label</dt>
  <dd>{{sourceLabel}}</dd>
</dl>
<div class="btn-toolbar" role="toolbar">
  {{#link-to 'layers.layerEdit' this classNames='btn btn-primary'}}Edit{{/link-to}}
  <button type="button" class="btn btn-danger" {{action 'showModal' 'layer-delete-confirm-dialog' model type="button"}}>Delete</button>
</div>

{{outlet}}
